<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Order</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

    <div class="row alert alert-warning" th:if="${order.paid}">
        Order complete, may not be edited
    </div>

    <div class="row">
        <div class="col-8">

            <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr>
                    <td>Order ID</td>
                    <td th:text="${order.id}">12</td>
                </tr>

                <tr>
                    <td>Attendees</td>
                    <td>
                        <table class="table table-borderless table-condensed table-hover">
                            <tr th:if="${attendees.empty}">
                                <td colspan="3"> No Attendees Found </td>
                            </tr>
                            <tr th:each="a : ${attendees}">
                                <td th:text="${a.getNameOrFanName()}">Attendee Name</td>
                                <td class="text-right" th:text="'$' + ${a.paidAmount}">$65.00</td>
                                <td><a class="btn btn-secondary btn-sm" th:href="'/reg/atconorder/' + ${order.id} + '/attendee/' + ${a.id}" href="#">Edit</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>Payments</td>
                    <td>
                        <table class="table table-borderless table-condensed table-hover">
                            <tr th:if="${payments.empty}">
                                <td colspan="2"> No Payments Found </td>
                            </tr>
                            <tr th:each="p : ${payments}">
                                <td th:text="${p.paymentType}">Cash</td>
                                <td class="text-right" th:text="'$' + ${p.amount}"></td>
                                <td><a class="btn btn-secondary btn-sm" th:href="'/reg/atconorder/' + ${order.id} + '/payment/' + ${p.id}" href="#">Edit</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <a class="btn mb-2"
               th:href="'/reg/atconorder/' + ${order.id} + '/attendee/new'"
               th:classappend="${(canComplete ? 'btn-secondary' : 'btn-primary') + (order.paid ? ' disabled' : '')}">
                Add Attendee</a>
            <a class="btn mb-2"
               th:href="'/reg/atconorder/' + ${order.id} + '/payment'"
               th:classappend="${(canComplete ? 'btn-secondary' : 'btn-primary') + (order.paid ? ' disabled' : '')}">
                Take Payment</a>
            <form th:action="'/reg/atconorder/' + ${order.id} + '/complete'" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" value="Order Complete" class="btn mb2"
                   th:classappend="${!canComplete} ? 'btn-secondary' : 'btn-primary'"
                   th:disabled="${!canComplete}">
            </form>
        </div>
    </div>
</div>

</body>
</html>