<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Payment</title>
    <script type="text/javascript" src="/js/payment.js" defer></script>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row alert-warning" th:if="${order.paid}">
        Warning: order is closed, payments may not be changed
    </div>


    <form th:object="${payment}" th:if="${payment!=null}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{authNumber}" />
        <input type="hidden" th:field="*{paymentLocation}" />
        <input type="hidden" th:field="*{paymentTakenAt}"/>
        <input type="hidden" th:field="*{paymentTakenBy}"/>
        <input type="hidden" th:field="*{paymentType}"/>
        <input type="hidden" th:field="*{tillSessionId}"/>
        <input type="hidden" th:field="*{orderId}"/>


        <div class="form-group row">
            <label for="inputAmount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{amount}" th:errorclass="is-invalid" class="form-control" id="inputAmount" placeholder="$0.00" autofocus>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputAuthNumber" class="col-sm-2 col-form-label">Auth Number</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{authNumber}" th:errorclass="is-invalid" class="form-control" id="inputAuthNumber" placeholder="123456">
            </div>
        </div>

        <div class="form-group row" th:if="${!order.paid}">
            <div class="col-sm-10">
                <input class="btn btn-primary" name="action" id="inputSave" type="submit" value="Save" />
                <input th:if="${payment.id != null}"  class="btn btn-secondary" type="reset" value="Reset" />
                <a href="#" th:href="'/reg/atconorder/' + ${orderId} + '/payment'" class="btn btn-secondary">Cancel</a>
            </div>
            <div class="col-sm-2">
                <input th:if="${payment.id != null}" class="btn btn-danger" type="submit" name="action" value="Delete" />
            </div>
        </div>
    </form>

</div>

</body>
</html>