<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Verify Data</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row alert alert-warning" th:if="${attendee.checkedIn}">
        Attendee is already checked in
    </div>

    <div class="row">
        <div class="col-7">

            <table class="table table-bordered table-striped table-fit table-sm">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td th:text="${attendee.firstName + ' ' + attendee.lastName}">Firstname Lastname</td>
                </tr>
                <tr th:if="${attendee.legalFirstName!=null || attendee.legalLastName!=null}">
                    <td>Legal Name</td>
                    <td th:text="${attendee.legalFirstName + ' ' + attendee.legalLastName}">Firstname Lastname</td>
                </tr>
                <tr>
                    <td>Fan Name</td>
                    <td th:text="${attendee.fanName}">Fan Name</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td th:text="${#temporals.format(attendee.birthDate , 'MM/dd/yyyy')+ ' (' + attendee.getAge() + ')'}">01/01/1980 (39)</td>
                </tr>
                <tr>
                    <td>Emergency Contact</td>
                    <td th:text="${attendee.emergencyContactFullName + ' - ' + attendee.emergencyContactPhone}">Jane Doe - 123-555-1212</td>
                </tr>
                <tr th:if="${attendee.isMinor()}">
                    <td>Parent Contact</td>
                    <td th:text="${attendee.parentFullName + ' - ' + attendee.parentPhone}">Jane Doe - 123-555-1212</td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td>
                        <p th:each="note : ${history}">
                            <span th:text="${#temporals.format(note.timestamp, 'MM/dd/yyyy HH:mm:ss')}">1/1/2019 5:33:01 PM</span>
                            <span th:text="${note.userId}">admin</span> <br>
                            <span th:text="${note.message}">Test message</span>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row form-inline">
                <form th:if="${!attendee.checkedIn}" method="post" th:action="'/reg/checkin/' + ${attendee.id}">
                    <input type="hidden" name="id" th:value="${attendee.id}">
                    <input class="btn btn-primary btn-sm mr-2" type="submit" value="Yes, Information is Correct">
                </form>
                <a th:if="${!attendee.checkedIn}" class="btn btn-danger btn-sm mr-2" th:href="${'/orders/' + attendee.orderId + '/' + attendee.id}">No, Edit Attendee</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>