<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Print Badge</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

    <div class="row">
        <div class="col-4">

            <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td th:text="${attendee.name}">Firstname Lastname</td>
                </tr>
                <tr>
                    <td>Fan Name</td>
                    <td th:text="${attendee.fanName}">Fan Name</td>
                </tr>
                </tbody>
            </table>

            <div>
                <form th:if="${attendee.checkedIn}" method="post" th:action="@{/reg/checkin/{attendeeId}/printbadge(attendeeId=${attendee.id})}">
                    <input type="hidden" name="id" th:value="${attendee.id}">
                    <input type="hidden" name="action" value="badgePrintedSuccessfully">
                    <input class="btn btn-success btn-sm" type="submit" value="Badge Printed Successfully">
                </form><br>
                <form th:if="${attendee.checkedIn}" method="post" th:action="@{/reg/checkin/{attendeeId}/printbadge(attendeeId=${attendee.id})}">
                    <input type="hidden" name="id" th:value="${attendee.id}">
                    <input type="hidden" name="action" value="reprintDuringCheckin">
                    <input class="btn btn-secondary btn-sm mr-2" type="submit" value="Reprint Badge">
                </form><br>
                <a class="btn btn-secondary btn-sm" th:href="@{/orders/{orderId}/attendees/{attendeeId}/badge.pdf(orderId=${attendee.orderId},attendeeId=${attendee.id})}" target="_blank">Download Badge PDF</a>
            </div>

        </div>

        <div class="col-4">
            <img th:src="@{/orders/{orderId}/attendees/{attendeeId}/badge.png(orderId=${attendee.orderId},attendeeId=${attendee.id})}" width="350" height="300" style="border: 1px solid black">
        </div>
    </div>
</div>

</body>
</html>