<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <script src="/webjars/jQuery-Autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
    <script src="/js/attendeeSuggest.js"></script>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row" th:if="${#authorization.expression('hasAuthority(''attendee_search'')')}">
        <div class="col-sm-12 mb-2">
            <form class="form-inline justify-content-center" action="/search" method="get" autocomplete="off" id="searchForm">
                <input class="form-control mr-2" th:value="${query}" type="text" name="q" id="search" placeholder="Attendee Name" autofocus>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
    </div>

    <div class="row text-center m-2 p-2" th:if="${attendees.size() >= 100}">
        <span class="alert-warning">Maximum 100 results returned. Try a more specific search!</span>
    </div>

    <div class="row" th:if="(${query!=null} and ${query!=''}) or ${orderId!=null}">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th class="text-nowrap">Name</th>
                <th class="text-nowrap">Legal Name</th>
                <th class="text-nowrap">Fan Name</th>
                <th class="text-nowrap">Birthday</th>
                <th class="text-nowrap">Badge Type</th>
                <th class="text-nowrap" th:text="|${attendees.size()} Found|"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${attendees.empty}">
                <td colspan="6"> No Attendeess Found </td>
            </tr>
            <tr th:each="attendee : ${attendees}">
                <td> <a th:href="@{/orders/{orderId}/attendees/{attendeeId}(orderId=${attendee.orderId},attendeeId=${attendee.id},query=${query})}"
                        th:text="|${attendee.getFirstName()} ${attendee.lastName}|">John Doe</a></td>
                <td th:text="|${attendee.legalFirstName} ${attendee.legalLastName}|">John Doe</td>
                <td th:text="${attendee.fanName}">Fan Name</td>
                <td th:text="|${dts.format(attendee.birthDate )} (${attendee.getAge()})|">01/01/1990 (29)</td>
                <td th:text="${attendee.badgeType}"></td>
                <td>
                    <a th:if="${!attendee.checkedIn && !attendee.membershipRevoked} and ${#authorization.expression('hasAuthority(''pre_reg_check_in'')')}" class="btn btn-primary btn-sm" th:href="@{/reg/checkin/{attendeeId}(attendeeId=${attendee.id})}">Check In</a>
                    <a th:if="${!attendee.checkedIn && !attendee.membershipRevoked} and ${#authorization.expression('hasAuthority(''pre_reg_check_in_order'')')}" class="btn btn-primary btn-sm" th:href="@{/reg/checkinorder/{orderId}(orderId=${attendee.orderId})}">Check In Order</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>