<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Search</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row" th:if="${#authorization.expression('hasAuthority(''attendee_search'')')}">
        <div class="col-sm-4">
            <a class="btn disabled" th:if="${prevPage}==null">Previous</a>
            <a class="btn" th:if="${prevPage}!=null" th:href="@{/searchbybadge(page=${prevPage},badgeName=${badgeName})}">Previous</a>
            <a class="btn disabled" th:if="${nextPage}==null">Next</a>
            <a class="btn" th:if="${nextPage}!=null" th:href="@{/searchbybadge(page=${nextPage},badgeName=${badgeName})}">Next</a>
        </div>
        <div class="col-sm-8 mb-2">
            <form class="form-inline justify-content-center" action="/searchbybadge" method="get">
                <select class="form-control mr-2" name="badgeName">
                    <option th:each="b : ${badgeTypes}" th:text="${b.name}" th:selected="${selected==b}">Badge Name</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
    </div>

    <div class="row" th:if="${selected!=null} and ${selected!=''}">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th class="text-nowrap">Name</th>
                <th class="text-nowrap">Legal Name</th>
                <th class="text-nowrap">Fan Name</th>
                <th class="text-nowrap">Birthdate</th>
                <th class="text-nowrap">Badge Type</th>
                <th class="text-nowrap"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${attendees.empty}">
                <td colspan="6"> No Attendees Found </td>
            </tr>
            <tr th:each="attendee : ${attendees}">
                <td><a th:href="@{/orders/{orderId}/attendees/{attendeeId}(orderId=${attendee.orderId},attendeeId=${attendee.id},badgeName=${badgeName})}"
                       th:text="|${attendee.firstName} ${attendee.lastName}|">John Doe</a></td>
                <td th:text="|${attendee.legalFirstName} ${attendee.legalLastName}|">John Doe</td>
                <td th:text="${attendee.fanName}">Fan Name</td>
                <td th:text="|${#temporals.format(attendee.birthDate , 'MM/dd/yyyy')} (${attendee.getAge()})|">01/01/1990 (29)</td>
                <td th:text="${attendee.badgeType}"></td>
                <td>
                    <a th:if="${!attendee.checkedIn} and ${#authorization.expression('hasAuthority(''pre_reg_check_in'')')}"
                       class="btn btn-primary btn-sm"
                       th:href="@{/reg/checkin/{attendeeId}(attendeeId=${attendee.id})}">Check In</a>
                    <a th:if="${!attendee.checkedIn} and ${#authorization.expression('hasAuthority(''pre_reg_check_in_order'')')}" class="btn btn-primary btn-sm" th:href="@{/reg/checkinorder/{orderId}(orderId=${attendee.orderId})}">Check In Order</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>