<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Staff</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row mb-3">
        <a th:href="@{/staff}">Back</a>
    </div>

    <div class="row">
        <div class="col-5">

            <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td th:text="|${staff.firstName} ${staff.lastName}|">Firstname Lastname</td>
                </tr>
                <tr>
                    <td>Legal Name</td>
                    <td th:text="|${staff.legalFirstName} ${staff.legalLastName}|">Legal Name</td>
                </tr>
                <tr>
                    <td>Preferred Pronoun</td>
                    <td th:text="${staff.preferredPronoun}">Pronoun</td>
                </tr>
                <tr>
                    <td>Birthdate</td>
                    <td th:text="${#temporals.format(staff.birthDate, 'MM/dd/yyyy')}">01/01/1990</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td th:text="${staff.department}">Department</td>
                </tr>
                <tr>
                    <td>Positions</td>
                    <td>
                        <span th:each="p : ${staff.positions}">
                            <span th:text="${p}">Coordinator of Awesome</span><br>
                        </span>
                    </td>
                </tr>
                <tr th:if="${staff.checkedIn}">
                    <td>Check In Time</td>
                    <td th:text="${staff.checkedInAt} ? ${#temporals.format(staff.checkedInAtLocal, 'EEE MM/dd/yyyy h:mm:ss a zzz')} : ''"></td>
                </tr>

                </tbody>
            </table>

            <div class="form-inline">
                <form method="post" th:action="|/staff/${staff.uuid}/print|">
                    <input type="hidden" name="action" value="printBadge">
                    <input type="hidden" name="sides" value="front">
                    <input class="btn btn-success btn-sm mr-2 mb-2" type="submit" value="Print Badge Front">
                </form>
                <form method="post" th:action="|/staff/${staff.uuid}/print|">
                    <input type="hidden" name="action" value="printBadge">
                    <input type="hidden" name="sides" value="back">
                    <input class="btn btn-success btn-sm mr-2 mb-2" type="submit" value="Print Badge Back">
                </form><br>
                <form method="post" th:action="|/staff/${staff.uuid}/print|">
                    <input type="hidden" name="action" value="printBadge">
                    <input type="hidden" name="sides" value="both">
                    <input class="btn btn-success btn-sm mb-2" type="submit" value="Print Badge (Both Sides)">
                </form>
            </div>
            <div>
                <a class="btn btn-secondary btn-sm"
                   th:href="@{/staff/{uuid}/badge.pdf(uuid=${staff.uuid})}" target="_blank">Download Badge PDF</a>
                <br>
                <a class="btn btn-info btn-sm mt-2"
                   href="/staff/">Done</a>
            </div>
        </div>

        <div class="col-4">
            <img th:src="@{/staff/{uuid}/badge.png(uuid=${staff.uuid})}" width="300" height="450" style="border: 1px solid black">
        </div>
    </div>


</div>

</body>
</html>