<!DOCTYPE html>
<html layout:decorate="~{layout/basenomenu}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Step 4: Done</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-6">
            <span th:text="|${staff.firstName} ${staff.lastName} checked in at ${#temporals.format(staff.checkedInAtLocal, 'EEE MM/dd/yyyy h:mm:ss a zzz')}|">
                Checked in at...
            </span><br>
            <span th:text="|T-Shirt Size: ${staff.shirtSize}|"></span><br>
            <span th:if="${staff.badgePrinted}">
                Badge already printed. <a th:href="@{/staff/{uuid}(uuid=${staff.uuid})}">View Staff</a>
            </span>
        </div>
    </div>
    <div class="row" th:if="${!staff.badgePrinted}">
        <div class="form-inline">
            <form method="post" th:action="|/staff/${staff.uuid}/print|">
                <input type="hidden" name="action" value="printBadge">
                <input type="hidden" name="sides" value="front">
                <input class="btn btn-success btn-sm" type="submit" value="Print Badge Front">
            </form>
            <form method="post" th:action="|/staff/${staff.uuid}/print|">
                <input type="hidden" name="action" value="printBadge">
                <input type="hidden" name="sides" value="back">
                <input class="btn btn-success btn-sm ml-2" type="submit" value="Print Badge Back">
            </form>
            <form method="post" th:action="|/staff/${staff.uuid}/print|">
                <input type="hidden" name="action" value="printBadge">
                <input type="hidden" name="sides" value="both">
                <input class="btn btn-success btn-sm ml-2" type="submit" value="Print Badge (Both Sides)">
            </form>
            <a class="btn btn-secondary btn-sm ml-5"
               th:href="@{/staff/{uuid}/badge.pdf(uuid=${staff.uuid})}" target="_blank">Download Badge PDF</a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-6">
            <a th:href="@{/staff}" class="btn btn-primary">Done</a>
        </div>
    </div>
</div>

</body>
</html>