<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <form action="#" th:action="@{/admin/users/save}" th:object="${user}" th:if="${user!=null}" method="post">
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <input type="hidden" th:field="*{id}" />

        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{username}" th:errorclass="is-invalid" class="form-control" id="inputUsername" placeholder="Username" autofocus>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{firstName}" th:errorclass="is-invalid" class="form-control" id="inputFirstName" placeholder="First Name">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{lastName}" th:errorclass="is-invalid" class="form-control" id="inputLastName" placeholder="Last Name">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputRole" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10">
                <select name="role" class="form-control" id="inputRole" th:errorclass="is-invalid">
                    <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}" th:selected="${r.id==user.role?.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEnabled" class="col-sm-2 col-form-label">Enabled</label>
            <div class="col-sm-10">
                <input id="inputEnabled" type="checkbox" th:field="*{enabled}" th:errorclass="is-invalid" class="form-check-inline">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputBadgePrefix" class="col-sm-2 col-form-label">Badge Prefix</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{badgePrefix}" th:errorclass="is-invalid" disabled class="form-control" id="inputBadgePrefix" placeholder="Badge Prefix">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLastBadgeNumber" class="col-sm-2 col-form-label">Last Badge Number</label>
            <div class="col-sm-10">
                <input type="number" min="0" th:field="*{lastBadgeNumberCreated}" th:errorclass="is-invalid" class="form-control" id="inputLastBadgeNumber" placeholder="Badge Number">
            </div>
        </div>

        <p>
            <input class="btn" type="submit" name="action" value="Reset Password" />
            <input class="btn btn-secondary" type="reset" value="Reset" />
            <a href="/admin/users" class="btn btn-secondary">Cancel</a>
            <input class="btn btn-primary" name="action" type="submit" value="Save" />
        </p>
    </form>

</div>

</body>
</html>