<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <a href="/admin/users/new">New User</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>

                <th>Username</th>
                <th>Name</th>
                <th>Role</th>
                <th>Badge Prefix</th>
                <th>Enabled</th>
                <th></th>
            </tr>
        </thead>

        <tr th:if="${users.empty}">
            <td colspan="6"> No Users Found </td>
        </tr>
        <tr th:each="u : ${users}">
            <td th:text="${u.username}">Username</td>
            <td th:text="${u.firstName} + ' ' + ${u.lastName}">Name</td>
            <td th:text="${u.role?.name}">Role</td>
            <td th:text="${u.badgePrefix}">Prefix</td>
            <td th:text="${u.enabled}">Enabled</td>
            <td><a th:href="'/admin/users/' + ${u.id}" href="#">Edit</a></td>
        </tr>
    </table>
</div>

</body>
</html>