<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Search</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row" th:if="${#authorization.expression('hasAuthority(''attendee_search'')')}">
        <div class="col-sm-8 mb-2">
            <form class="form-inline justify-content-center" action="/search" method="get">
                <input class="form-control mr-2" th:value="${query}" type="text" name="q" placeholder="Attendee Name" autofocus>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
    </div>

    <div class="row text-center m-2 p-2" th:if="${attendees.size() == 100}">
        <span class="alert-warning">Maximum 100 results returned. Try a more specific search!</span>
    </div>

    <div class="row">
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                    <th class="text-nowrap">Name</th>
                    <th class="text-nowrap">Legal Name</th>
                    <th class="text-nowrap">Fan Name</th>
                    <th class="text-nowrap">Birthday</th>
                    <th class="text-nowrap">Badge Type</th>
                    <th class="text-nowrap" th:text="${attendees.size()} + ' Found'"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${attendees.empty}">
                    <td colspan="6"> No Attendeess Found </td>
                </tr>
                <tr th:each="attendee : ${attendees}">
                    <td> <a th:href="'/orders/' + ${attendee.order.id} + '/' + ${attendee.id}" th:text="${attendee.getFirstName()} + ' ' + ${attendee.lastName}">John Doe</td>
                    <td th:text="${attendee.getFirstName()} + ' ' + ${attendee.lastName}">John Doe</td>
                    <td th:text="${attendee.getFanName()}">Fan Name</td>
                    <td th:text="${attendee.getBirthDate()} + ' (' + ${attendee.getAge() + ')'}">01/01/1990 (29)</td>
                    <td th:text="${attendee.badge?.name} + ' - ' + ${attendee.currentAgeRange?.name}"></td>
                    <td>
                        <form th:if="${!attendee.checkedIn}" method="post" action="/reg/checkin">
                            <input type="hidden" name="id" th:value="${attendee.id}">
                            <input class="btn btn-primary btn-sm" type="submit" value="Check In">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

    </div>
</div>

</body>
</html>