<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Attendee</title>
    <script type="text/javascript" src="/js/datelib.js"></script>
    <script type="text/javascript" src="/js/attendeeform.js" defer></script>
</head>
<body>

<div layout:fragment="content" class="container">
    <form action="#" th:object="${attendee}" th:if="${attendee!=null}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <input type="hidden" th:field="*{id}" />

        <div class="form-group row mb-0">
            <label for="inputFirstName" class="col-md-2 col-form-label-sm">First Name*</label>
            <div class="col-md-3">
                <input type="text" th:field="*{firstName}" th:errorclass="is-invalid" class="form-control-sm text-capitalize" id="inputFirstName" placeholder="First Name" required autofocus>
            </div>
            <label for="inputLastName" class="col-md-2 col-form-label-sm">Last Name*</label>
            <div class="col-md-3">
                <input type="text" th:field="*{lastName}" th:errorclass="is-invalid" class="form-control-sm text-capitalize" id="inputLastName" placeholder="Last Name" required>
            </div>
        </div>

        <div class="form-group row mb-0">
            <label for="inputNameIsLegalName" class="col-md-2 col-form-label-sm">Name is legal name</label>
            <input type="checkbox" th:field="*{nameIsLegalName}" th:errorclass="is-invalid" class="form-control-sm" id="inputNameIsLegalName">
            <label for="inputLegalFirstName" class="col-md-2 col-form-label-sm">Legal First Name</label>
            <div class="col-md-3">
                <input type="text" th:field="*{legalFirstName}" th:errorclass="is-invalid" class="form-control-sm text-capitalize" id="inputLegalFirstName" placeholder="First Name">
            </div>
            <label for="inputLegalLastName" class="col-md-2 col-form-label-sm">Legal Last Name</label>
            <div class="col-md-3">
                <input type="text" th:field="*{legalLastName}" th:errorclass="is-invalid" class="form-control-sm text-capitalize" id="inputLegalLastName" placeholder="Last Name">
            </div>
        </div>

        <div class="form-group row mb-0">
            <label for="inputFanName" class="col-md-2 col-form-label-sm">Fan Name</label>
            <div class="col-md-3">
                <input type="text" th:field="*{fanName}" th:errorclass="is-invalid" class="form-control-sm" id="inputFanName" placeholder="Fan Name">
            </div>
            <label for="inputPronoun" class="col-md-2 col-form-label-sm">Preferred Pronoun</label>
            <div class="col-md-2">
                <select th:field="*{preferredPronoun}" th:errorclass="is-invalid" class="form-control form-control-sm" id="inputPronoun">
                    <option th:each="p : ${attendee.PRONOUNS}" th:value="${p}" th:text="${p}" th:selected="${p==attendee.preferredPronoun}"></option>
                </select>
            </div>
        </div>


        <div class="form-group row mb-0">
            <label for="inputBirthDate" class="col-md-2 col-form-label-sm">Date of Birth*</label>
            <div class="col-md-5">
                <input type="text" th:field="*{birthDate}" th:errorclass="is-invalid" required class="form-control-sm" id="inputBirthDate"
                       placeholder="MMDDYYYY">
                <span id="age"></span>
            </div>
        </div>


        <div class="form-group row mt-2">
            <label for="inputPhone" id="inputPhoneLabel" class="col-md-2 col-form-label-sm">Phone Number*</label>
            <div class="col-md-3">
                <input type="tel" th:field="*{phoneNumber}" th:errorclass="is-invalid" class="form-control-sm" id="inputPhone" placeholder="000-000-0000">
            </div>
            <label for="inputEmail" id="inputEmailLabel" class="col-md-2 col-form-label-sm">or Email*</label>
            <div class="col-md-3">
                <input type="text" th:field="*{email}" th:errorclass="is-invalid" class="form-control-sm" id="inputEmail" placeholder="user@example.com">
            </div>
        </div>
        <div class="form-group row mb-0">
            <label for="inputZip" class="col-md-2 col-form-label-sm">Zip Code*</label>
            <div class="col-md-3">
                <input type="text" th:field="*{zip}" th:errorclass="is-invalid" class="form-control-sm" id="inputZip" placeholder="00000" required>
            </div>

            <label for="inputCountry" class="col-md-2 col-form-label-sm">Country</label>
            <div class="col-md-3">
                <input type="text" th:field="*{country}" th:errorclass="is-invalid" required class="form-control-sm" id="inputCountry">
            </div>

        </div>

        <div class="form-group row mb-0">
            <label for="inputEmergencyContactName" class="col-md-2 col-form-label-sm">Emergency Contact Name*</label>
            <div class="col-md-3">
                <input type="text" th:field="*{emergencyContactFullName}" th:errorclass="is-invalid" class="form-control-sm text-capitalize" id="inputEmergencyContactName" placeholder="Jane Doe" required>
            </div>
            <label for="inputEmergencyContactPhone" class="col-md-2 col-form-label-sm">Emergency Contact Phone*</label>
            <div class="col-md-3">
                <input type="tel" th:field="*{emergencyContactPhone}" th:errorclass="is-invalid" class="form-control-sm" id="inputEmergencyContactPhone" placeholder="000-000-0000" required>
            </div>
        </div>

        <div class="form-group row mb-0">
            <label for="inputParentIsEmergencyContact" class="col-md-3 col-form-label-sm">Parent is Emergency Contact</label>
            <input type="checkbox" th:field="*{parentIsEmergencyContact}" th:errorclass="is-invalid" class="form-control-sm" id="inputParentIsEmergencyContact">
        </div>

        <div class="form-group row mb-0">
            <label for="inputParentFullName" class="col-md-2 col-form-label-sm">Parent Name</label>
            <div class="col-md-3">
                <input type="text" th:field="*{parentFullName}" th:errorclass="is-invalid" class="form-control-sm text-capitalize" id="inputParentFullName" placeholder="John Doe">
            </div>
            <label for="inputParentPhone" class="col-md-2 col-form-label-sm">Parent Phone</label>
            <div class="col-md-3">
                <input type="tel" th:field="*{parentPhone}" th:errorclass="is-invalid" class="form-control-sm" id="inputParentPhone" placeholder="000-000-0000">
            </div>
        </div>

        <div class="form-group row mb-0">
            <label for="inputBadgeType" class="col-md-2 col-form-label-sm">Badge Type</label>
            <div class="col-md-3">
                <select name="badgeId" class="form-control form-control-sm" id="inputBadgeType" th:errorclass="is-invalid">
                    <option th:each="b : ${badgelist}" th:value="${b.id}" th:text="${b.name}" th:selected="${b.id==attendee.badgeId}"></option>
                </select>
            </div>
            <label for="inputParentFormReceived" class="col-md-3 col-form-label-sm">Parental Consent Form Received</label>
            <div class="col-md-3 text-left">
                <input type="checkbox" th:field="*{parentFormReceived}" th:errorclass="is-invalid" class="form-control-sm" id="inputParentFormReceived">
            </div>
        </div>

        <div class="form-group row mb-0" th:if="${#authorization.expression('!hasAuthority(''attendee_edit'')')}">
            <label for="inputOverrideUser" class="col-md-2 col-form-label-sm">Override Username</label>
            <div class="col-md-3">
                <input type="text" name="overrideUser" class="form-control-sm" id="inputOverrideUser" placeholder="User Name" required>
            </div>
            <label for="inputOverridePassword" class="col-md-2 col-form-label-sm">Password</label>
            <div class="col-md-3">
                <input type="password" name="overridePassword" class="form-control-sm" id="inputOverridePassword" placeholder="Password" required>
            </div>
        </div>


        <div class="form-group row mb-0">
            <div class="col-sm-10">
                <input class="btn btn-primary" name="action" id="save" type="submit" value="Save" />
                <a th:href="@{/orders/{orderId}/attendees/{attendeeId}(orderId=${attendee.orderId},attendeeId=${attendee.id})}" class="btn btn-secondary">Cancel</a>
                <input class="btn btn-secondary" type="reset" value="Reset" />
            </div>
        </div>
    </form>

</div>

</body>
</html>