<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Attendee</title>
    <script type="text/javascript" src="/js/datelib.js"></script>
    <script type="text/javascript" src="/js/attendeeform.js" defer></script>
</head>
<body>

<div layout:fragment="content" class="container">
    <form action="#" th:object="${attendee}" th:if="${attendee!=null}" method="post" class="form-row">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <input type="hidden" th:field="*{id}" />

        <div class="form-group col-md-3">
            <label for="inputFirstName" class="col-form-label-sm">First Name*</label>
            <input type="text" th:field="*{firstName}" th:errorclass="is-invalid" class="form-control" id="inputFirstName" placeholder="First Name" required autofocus>
        </div>
        <div class="form-group col-md-3">
            <label for="inputLastName" class="col-form-label-sm">Last Name*</label>
            <input type="text" th:field="*{lastName}" th:errorclass="is-invalid" class="form-control" id="inputLastName" placeholder="Last Name" required>
        </div>

        <div class="form-group col-md-2">
            <label for="inputNameIsLegalName" class="col-form-label-sm">Name is legal name</label>
            <input type="checkbox" th:field="*{nameIsLegalName}" th:errorclass="is-invalid" class="form-control" id="inputNameIsLegalName">
        </div>
        <div class="form-group col-md-3">
            <label for="inputLegalFirstName" class="col-form-label-sm">Legal First Name</label>
            <input type="text" th:field="*{legalFirstName}" th:errorclass="is-invalid" class="form-control" id="inputLegalFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-3">
            <label for="inputLegalLastName" class="col-form-label-sm">Legal Last Name</label>
            <input type="text" th:field="*{legalLastName}" th:errorclass="is-invalid" class="form-control" id="inputLegalLastName" placeholder="Last Name">
        </div>

        <div class="form-group col-md-6">
            <label for="inputFanName" class="col-form-label-sm">Fan Name</label>
            <input type="text" th:field="*{fanName}" th:errorclass="is-invalid" class="form-control" id="inputFanName" placeholder="Fan Name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPronoun" class="col-form-label-sm">Preferred Pronoun</label>
            <select th:field="*{preferredPronoun}" th:errorclass="is-invalid" class="form-control" id="inputPronoun">
                <option th:each="p : ${attendee.PRONOUNS}" th:value="${p}" th:text="${p}" th:selected="${p==attendee.preferredPronoun}"></option>
            </select>
        </div>
        <div class="form-group col-md-3" th:if="${#authorization.expression('hasAuthority(''set_custom_pronouns'')')}">
            <label for="inputCustomPronoun" class="col-form-label-sm">Custom Pronoun</label>
            <input type="text" th:field="*{customPronoun}" th:errorclass="is-invalid" class="form-control" id="inputCustomPronoun">
        </div>


        <div class="form-group col-md-12">
            <label for="inputBirthDate" class="col-form-label-sm">Date of Birth*</label>
            <div class="input-group">
                <input type="text" th:field="*{birthDate}" th:errorclass="is-invalid" required class="form-control col-md-2" id="inputBirthDate"
                       placeholder="MMDDYYYY">
                <div class="input-group-append">
                    <span class="input-group-text" id="age"></span>
                </div>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="inputPhone" id="inputPhoneLabel" class="col-form-label-sm">Phone Number*</label>
            <input type="tel" th:field="*{phoneNumber}" th:errorclass="is-invalid" class="form-control" id="inputPhone" placeholder="000-000-0000">
        </div>

        <div class="form-group col-md-3">
            <label for="inputEmail" id="inputEmailLabel" class="col-form-label-sm">or Email*</label>
            <input type="text" th:field="*{email}" th:errorclass="is-invalid" class="form-control" id="inputEmail" placeholder="user@example.com">
        </div>

        <div class="form-group col-md-3">
            <label for="inputZip" class="col-form-label-sm">Zip Code*</label>
            <input type="text" th:field="*{zip}" th:errorclass="is-invalid" class="form-control" id="inputZip" placeholder="00000" required>
        </div>

        <div class="form-group col-md-3">
            <label for="inputCountry" class="col-form-label-sm">Country</label>
            <input type="text" th:field="*{country}" th:errorclass="is-invalid" required class="form-control" id="inputCountry">
        </div>

        <div class="form-group col-md-3">
            <label for="inputEmergencyContactName" class="col-form-label-sm">Emergency Contact Name*</label>
            <input type="text" th:field="*{emergencyContactFullName}" th:errorclass="is-invalid" class="form-control" id="inputEmergencyContactName" placeholder="Jane Doe" required>
        </div>
        <div class="form-group col-md-3">
            <label for="inputEmergencyContactPhone" class="col-form-label-sm">Emergency Contact Phone*</label>
            <input type="tel" th:field="*{emergencyContactPhone}" th:errorclass="is-invalid" class="form-control" id="inputEmergencyContactPhone" placeholder="000-000-0000" required>
        </div>

        <div class="form-group col-md-4">
            <label for="inputParentFullName" class="col-form-label-sm">
                Parent Name
                (<input type="checkbox" th:field="*{parentIsEmergencyContact}" th:errorclass="is-invalid" class="form-check-inline" id="inputParentIsEmergencyContact"> Use Emergency Contact)
            </label>
            <input type="text" th:field="*{parentFullName}" th:errorclass="is-invalid" class="form-control" id="inputParentFullName" placeholder="John Doe">
        </div>
        <div class="form-group col-md-2">
            <label for="inputParentPhone" class="col-form-label-sm">Parent Phone</label>
            <input type="tel" th:field="*{parentPhone}" th:errorclass="is-invalid" class="form-control" id="inputParentPhone" placeholder="000-000-0000">
        </div>

        <div class="form-group col-md-6">
            <label for="inputBadgeType" class="col-form-label-sm">Badge Type</label>
            <select name="badgeId" class="form-control" id="inputBadgeType" th:errorclass="is-invalid">
                <option th:each="b : ${badgelist}" th:value="${b.id}" th:text="${b.name}" th:selected="${b.id==attendee.badgeId}"></option>
            </select>
        </div>


        <div class="form-group col-md-3">
            <label for="inputParentFormReceived" class="col-form-label-sm">Parental Consent Form Received</label>
            <input type="checkbox" th:field="*{parentFormReceived}" th:errorclass="is-invalid" class="form-control" id="inputParentFormReceived">
        </div>

        <div class="form-group col-md-6">
            <label for="inputNote" class="col-form-label-sm">Note*</label>
            <textarea class="form-control" name="note" id="inputNote" required></textarea>
        </div>

        <div class="form-group col-md-6" th:if="${#authorization.expression('!hasAuthority(''attendee_edit'')')}">
            <div class="col-form-label-sm">Override User*</div>
            <div class="input-group m-1">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" name="overrideUser" class="form-control" id="inputOverrideUser" placeholder="User Name" required autocomplete="off">
            </div>
            <div class="input-group m-1">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="overridePassword" class="form-control" id="inputOverridePassword" placeholder="Password" required>
            </div>
        </div>


        <div class="form-group col-md-12 mt-2">
            <div class="col-sm-10">
                <input class="btn btn-primary" name="action" id="save" type="submit" value="Save" />
                <input class="btn btn-primary" name="action" id="saveAndReprint" type="submit" value="Save & Reprint" />
                <a th:href="@{/orders/{orderId}/attendees/{attendeeId}(orderId=${attendee.orderId},attendeeId=${attendee.id})}" class="btn btn-secondary">Cancel</a>
                <input class="btn btn-secondary" type="reset" value="Reset" />
            </div>
        </div>
    </form>

</div>

</body>
</html>