<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn disabled" th:if="${prevPage}==null">Previous</a>
            <a class="btn" th:if="${prevPage}!=null" th:href="'/orders?page=' + ${prevPage}">Previous</a>
            <a class="btn disabled" th:if="${nextPage}==null">Next</a>
            <a class="btn" th:if="${nextPage}!=null" th:href="'/orders?page=' + ${nextPage}">Next</a>
        </div>
    </div>

    <div class="row">
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                    <th class="text-nowrap">Order ID</th>
                    <th class="text-nowrap">Taken By</th>
                    <th class="text-nowrap">Paid</th>
                    <th class="text-nowrap">Total Due</th>
                    <th class="text-nowrap">Total Paid</th>
                    <th class="text-nowrap" th:text="${totalCount} + ' Found'"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${orders.empty}">
                    <td colspan="6"> No Orders Found </td>
                </tr>
                <tr th:each="order : ${orders}">
                    <td><a th:href="'/orders/' + ${order.id}" th:text="${order.orderId}">c4ca4238a0b923820dcc509a6f75849b</a></td>
                    <td th:text="${order.orderTakenByUsername}">admin</td>
                    <td th:text="${order.paid}">True</td>
                    <td th:text="${order.totalDue != null} ? '$' + ${order.totalDue} : _" class="text-right"></td>
                    <td th:text="${order.totalPaid != null} ? '$' + ${order.totalPaid} : _" class="text-right"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

    </div>
</div>

</body>
</html>