<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Attendee</title>
    <script type="text/javascript" src="/js/attendeeform.js" defer></script>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row mb-3">
        <a th:href="@{/orders/{orderId}(orderId=${attendee.orderId})}">Back to Order</a>
    </div>

    <div class="row">
        <div class="col-sm-2">Name:</div><div class="col-sm-3" th:text="${attendee.name}"></div>
        <div class="col-sm-3">Preferred Pronoun:</div><div class="col-sm-3" th:text="${attendee.preferredPronoun}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Legal Name:</div><div class="col-sm-3" th:text="|${attendee.legalFirstName} ${attendee.legalLastName}|"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Fan Name:</div><div class="col-sm-3" th:text="${attendee.fanName}"></div>
        <div class="col-sm-2">Badge Number:</div><div class="col-sm-3" th:text="${attendee.badgeNumber}"></div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-2">Phone Number:</div><div class="col-sm-3" th:text="${attendee.phoneNumber}"></div>
        <div class="col-sm-2">Email:</div><div class="col-sm-3" th:text="${attendee.email}"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Zip Code:</div><div class="col-sm-3" th:text="${attendee.zip}"></div>
        <div class="col-sm-2">Date of Birth:</div>
        <div class="col-sm-3">
            <span th:text="${dts.format(attendee.birthDate)}"></span>
            <span th:text="|(${attendee.age} years old)|"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">Country:</div><div class="col-sm-3" th:text="${attendee.country}"></div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-3">Emergency Contact:</div>
        <div class="col-sm-6" th:text="|${attendee.emergencyContactFullName} - ${attendee.emergencyContactPhone}|"></div>
    </div>

    <div class="row">
        <div class="col-sm-2">Parent Contact:</div>
        <div class="col-sm-6" th:if="${attendee.isMinor()}" th:text="|${attendee.parentFullName} - ${attendee.parentPhone}|"></div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-3">Badge Type:</div><div class="col-sm-4" th:text="${attendee.badgeType}"></div>
        <div class="col-sm-2">Amount Paid:</div><div class="col-sm-3" th:text="|$${attendee.paidAmount}|"></div>
    </div>

    <div class="row">
        <div class="col-sm-3">Checked In:</div><div class="col-sm-4" th:text="${attendee.checkInTime} ? ${dts.format(attendee.checkInTime)} : 'No'"></div>
    </div>

    <div class="row">
        <div class="col-sm-3">Preregistered:</div><div class="col-sm-1" th:text="${attendee.preRegistered}"></div>
    </div>
    <div class="row">
        <div class="col-sm-3">Parent Form Received:</div><div class="col-sm-1" th:text="${attendee.parentFormReceived}"></div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-4">
            <tr>
                <th colspan="3">Notes
                    <a class="small" th:if="${#authorization.expression('hasAuthority(''attendee_add_note'')')}"
                       th:href="@{/orders/{orderId}/attendees/${attendeeId}/addnote(orderId=${attendee.orderId},attendeeId=${attendee.id})}">Add Note</a></th>
            </tr>
            <tr th:each="ah : ${notes}">
                <td class="col-2" th:text="${dts.format(ah.timestamp)}"></td>
                <td class="col-1" th:text="${ah.username}"></td>
                <td class="col-4" th:text="${ah.message}"></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>