<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Order</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr>
                    <td>Order ID</td>
                    <td th:text="${order.id}"></td>
                </tr>

                <tr>
                    <td>Attendees</td>
                    <td>
                        <table class="table table-borderless table-condensed table-hover">
                            <tbody>
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-nowrap">Name</th>
                                        <th class="text-nowrap">Fan Name</th>
                                        <th class="text-nowrap">Birthdate</th>
                                        <th class="text-nowrap">Badge Type</th>
                                    </tr>
                                    <tr th:if="${attendees.empty}">
                                        <td colspan="3"> No Attendees Found </td>
                                    </tr>
                                    <tr th:each="attendee : ${attendees}">
                                        <td> <a th:href="@{/orders/{orderId}/attendees/{attendeeId}(orderId=${attendee.orderId},attendeeId=${attendee.id})}" th:text="|${attendee.getFirstName()} ${attendee.lastName}|">Firstname Lastname</td>
                                        <td th:text="${attendee.getFanName()}"></td>
                                        <td th:text="|${#temporals.format(attendee.birthDate , 'MM/dd/yyyy')} (${attendee.getAge()})|"></td>
                                        <td th:text="${attendee.badgeType}"></td>
                                    </tr>
                                </thead>
                            </tbody>

                        </table>
                    </td>
                </tr>

                <tr>
                    <td>Payments</td>
                    <td>
                        <table class="table table-borderless table-condensed table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-nowrap">Type</th>
                                    <th class="text-nowrap">Auth/Check Number</th>
                                    <th class="text-nowrap">Taken At</th>
                                    <th class="text-nowrap">Taken By</th>
                                    <th class="text-nowrap">Till Name/Session</th>
                                    <th class="text-nowrap">Amount</th>
                                </tr>
                                <tr th:if="${payments.empty}">
                                    <td colspan="2"> No Payments Found </td>
                                </tr>
                                <tr th:each="payment : ${payments}">
                                    <td th:text="${payment.paymentType}"></td>
                                    <td th:text="${payment.authNumber}"></td>
                                    <td th:text="${payment.paymentTakenAt} ? ${#temporals.format(payment.paymentTakenAtLocal, 'EEE MM/dd/yyyy h:mm:ss a zzz')} : ''"></td>
                                    <td th:text="${payment.paymentTakenByUsername}"></td>
                                    <td th:text="|${payment.tillName} - ${payment.tillSessionId}|"></td>
                                    <td class="text-right" th:text="|$${payment.amount}|"></td>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>