<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <script src="/js/inlineregcode.js"></script>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="card-deck mb-2 justify-content-center">
        <div class="card bg-light m-1" style="width: 22rem; min-width: 22rem; max-width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">Registration Code</h5>
                <p class="card-text">Code from registering in line</p>

                <form class="form-inline justify-content-center" action="/inlinereg/checkin" method="post" autocomplete="off"
                      id="inLineSearchForm" style="position: relative; z-index:1000;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 text-uppercase" value="" type="text" name="code"
                               id="inLineCodeSearch" autocomplete="off" placeholder="ABC123" minlength="6" maxlength="10" autofocus>
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" id="inLineCodeCheckIn" value="Check In">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card bg-light m-1" style="width: 22rem; min-width: 22rem; max-width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">Search By Name</h5>
                <p class="card-text">Only searches In-Line Registrations</p>

                <form class="form-inline justify-content-center" action="/inlinereg/search" method="get" autocomplete="off"
                      id="inLineSearchNameForm" style="position: relative; z-index:1000;">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1" value="" type="text" name="name"
                               id="inLineNameSearch" autocomplete="off" placeholder="Name" minlength="1">
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" id="inLineNameCheckIn" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-sm" th:if="${results}">
        <thead class="thead-dark">
            <tr>
                <th>Names in Party</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${results.size() == 0}">
                <td colspan="2" th:text="|No results found for &quot;${name}&quot;|"></td>
            </tr>
            <tr th:each="p : ${results}">
                <td>
                    <ul th:each="a : ${p.getValue()}" class="list-unstyled">
                        <li th:text="|${a.firstName} ${a.lastName}|"></li>
                    </ul>
                </td>
                <td>
                    <form action="/inlinereg/checkin" method="post" autocomplete="off">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" name="code" th:value="${p.key}">
                        <input class="btn btn-primary" type="submit" value="Check In">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>