<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Guest</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row mb-3">
        <a th:href="@{/guests(page=${page})}">Back</a>
    </div>

    <div class="row">
        <div class="col-4">

            <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td th:text="${guest.name}">Firstname Lastname</td>
                </tr>
                <tr>
                    <td>Legal Name</td>
                    <td th:text="${guest.legalName}">Legal Name</td>
                </tr>
                <tr>
                    <td>Preferred Pronoun</td>
                    <td th:text="${guest.preferredPronoun}">Pronoun</td>
                </tr>
                <tr>
                    <td>Fan Name</td>
                    <td th:text="${guest.fanName}">Fan Name</td>
                </tr>
                <tr>
                    <td>Birthdate</td>
                    <td th:text="${#temporals.format(guest.birthDate, 'MM/dd/yyyy')}">01/01/1990</td>
                </tr>
                </tbody>
            </table>

            <div>
                <form method="post" th:action="|/guests/${guest.id}/print|">
                    <input type="hidden" name="id" th:value="${guest.id}">
                    <input type="hidden" name="sides" value="front">
                    <input type="hidden" name="action" value="printBadge">
                    <input class="btn btn-success btn-sm" type="submit" value="Print Badge Front">
                </form>
                <form method="post" th:action="|/guests/${guest.id}/print|">
                    <input type="hidden" name="id" th:value="${guest.id}">
                    <input type="hidden" name="sides" value="back">
                    <input type="hidden" name="action" value="printBadge">
                    <input class="btn btn-success btn-sm mt-2" type="submit" value="Print Badge Back">
                </form>
                <form method="post" th:action="|/guests/${guest.id}/print|">
                    <input type="hidden" name="id" th:value="${guest.id}">
                    <input type="hidden" name="sides" value="both">
                    <input type="hidden" name="action" value="printBadge">
                    <input class="btn btn-success btn-sm mt-2" type="submit" value="Print Badge (Both Sides)">
                </form><br>
                <a class="btn btn-secondary mt-2 btn-sm"
                   th:href="@{/guests/{guestId}/badge.pdf(guestId=${guest.id})}" target="_blank">Download Badge PDF</a>
                <br>
                <a class="btn btn-info mt-2 btn-sm"
                   th:href="@{/guests/}">Done</a>
            </div>

        </div>

        <div class="col-4">
            <img th:src="@{/guests/{guestId}/badge.png(guestId=${guest.id})}" width="300" height="450" style="border: 1px solid black">
        </div>
    </div>


</div>

</body>
</html>