<!DOCTYPE html>
<html layout:decorate="~{layout/basenomenu}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Step 1: Verify Information</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="mt-2">
            <table class="table table-bordered table-sm table-fix-head" style="width:1000px;">
                <thead>
                    <tr>
                        <th colspan="5" th:text="|${staff.firstName} ${staff.lastName}|"></th>
                    </tr>
                    <tr style="!important;">
                        <th style="width: 200px;">Voucher Type</th>
                        <th style="width: 200px;">Voucher Day</th>
                        <th style="width: 100px;">Voucher By</th>
                        <th style="width: 300px;">Voucher At</th>
                        <th style="width: 200px;">Is Revoked?</th>
                    </tr>
                </thead>
                <tr th:each="voucher : ${vouchers}">
                    <td th:text="${voucher.voucherType}"></td>
                    <td th:text="${voucher.voucherDate.dayOfWeek}"></td>
                    <td th:text="${voucher.voucherBy}"></td>
                    <td th:text="${dts.format(voucher.voucherAt)}"></td>
                    <td th:text="${voucher.isRevoked()}"></td>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a th:href="@{/voucher/search}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

</div>

</body>
</html>