<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>User Session Information</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <p>Upload Attendee .JSON file</p>

    <form method="POST" action="/utility/attendeeimport/upload" enctype="multipart/form-data" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="file" name="file" id="file" /> <br/>
        <input type="submit" value="Upload" name="upload" id="upload" />
    </form>

</div>

</body>
</html>