<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Choose Printer</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="form-group row">
        <form class="form-inline" method="POST" action="/utility/printer" name="customPrinter">
            <label class="col-form-label col-sm-1" for="printer">Printer</label>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="previousUrl" th:value="${previousUrl}">
            <input class="form-control mr-2" type="text" name="printer" id="printer" th:value="${printer}" autofocus/>
            <label class="col-form-label col-sm-1" for="printer">Horizontal Offset</label>
            <input class="form-control col-1 mr-2" type="number" name="xOffset" id="xOffset" th:value="${xOffset}" placeholder="X Offset"
                   title="Horizontal offset in points (1/72 inch). Positive numbers move badge to the right on the page."/>
            <label class="col-form-label col-sm-1" for="printer">Vertical Offset</label>
            <input class="form-control col-1 mr-2" type="number" name="yOffset" id="yOffset" th:value="${yOffset}" placeholder="Y Offset"
                   title="Vertical offset in points (1/72 inch). Positive numbers move badge down on the page."/>
            <input class="btn btn-primary" type="submit" name="action" value="Save" />
            <input class="btn btn-secondary ml-2" type="submit" name="action" value="Test" />
        </form>
    </div>

    <table class="table table-sm table-bordered table-fit mt-2">
        <tr>
            <th colspan="1">Available Printers</th>
            <th colspan="1">Horizontal Offset</th>
            <th colspan="1">Vertical Offset</th>
        </tr>
        <tr th:each="p : ${availablePrinters}">
            <td th:text="${p}" th:styleappend="${p == printer ? 'font-weight:bold' : ''}"></td>
            <td th:text="${xOffset}" th:styleappend="${p == printer ? 'font-weight:bold' : ''}"></td>
            <td th:text="${yOffset}" th:styleappend="${p == printer ? 'font-weight:bold' : ''}"></td>
            <td>
                <form method="post" th:name="|${p}-save|">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="printer" th:value="${p}" />
                    <input type="hidden" name="previousUrl" th:value="${previousUrl}">
                    <input class="btn btn-sm btn-primary" type="submit" name="action" value="Select">
                </form>
            </td>
            <td>
                <form method="post" th:name="|${p}-test|">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="printer" th:value="${p}" />
                    <input type="hidden" name="previousUrl" th:value="${previousUrl}">
                    <input class="btn btn-sm btn-secondary" type="submit" name="action" value="Test">
                </form>
            </td>
        </tr>
    </table>
    <a class="btn btn-primary" th:href="${previousLink}">Back</a>
</div>

</body>
</html>