<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Choose Printer</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <form class="form-inline" method="POST" action="/utility/printer">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input class="form-control mr-2" type="text" name="printer" id="printer" th:value="${selectedPrinter}"/> <br/>
        <input class="btn btn-primary" type="submit" value="OK" />
    </form>
</div>

</body>
</html>