<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Test Badges</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <ul class="list-unstyled">
        <li><a href="/utility/testBadges.pdf" target="_blank">Download Test Badge PDF</a></li>
        <li><a href="/utility/attendeeBadges.pdf" target="_blank">Download Attendee Badge Types PDF</a></li>
        <li><a href="/utility/specialtyBadges.pdf" target="_blank">Download Specialty Badge Types PDF</a></li>
        <li><a href="/utility/vipBadges.pdf" target="_blank">Download VIP Badge PDF</a></li>
    </ul>

    <ul class="list-unstyled">
        <li><a href="/utility/actualBadges/6/badges.pdf">Download Real VIP Badges</a></li>
    </ul>
</div>
</body>
</html>