<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Till Session</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="form-group row">
        <form class="form-inline col-sm-7" method="POST" autocomplete="off">
            <label class="col-form-label col-sm-3" for="tillName">Till Number</label>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input class="form-control mr-2" type="text" name="tillName" id="tillName" th:value="${tillName}"/>
            <input class="btn btn-primary" type="submit" name="action" value="Save" />


            <div th:if="${tillSession != null}">
                <table class="table table-bordered table-fit mt-4">
                    <tr>
                        <td>Session ID</td>
                        <td th:text="${tillSession.id}">1</td>
                    </tr>
                    <tr>
                        <td>Session is Open</td>
                        <td th:text="${tillSession.open}">True</td>
                    </tr>
                    <tr>
                        <td>Start</td>
                        <td th:text="${tillSession.startTime} ? ${dts.format(tillSession.startTime)} : ''"></td>
                    </tr>
                    <tr>
                        <td>End</td>
                        <td th:text="${tillSession.endTime} ? ${dts.format(tillSession.endTime)} : ''"></td>
                    </tr>
                </table>
                <div th:if="${reportPrinterName == null or reportPrinterName.isBlank()}">
                    <br>
                    <div class="alert alert-warning"><span class="badge badge-danger">NOTE:</span><span> Automatic till report printing is not enabled! The till report will need to be printed manually.</span></div>
                    <br>
                </div>
                <div th:if="${reportPrinterName != null and !reportPrinterName.isBlank()}">
                    <br>
                    <div class="alert alert-info"><span class="badge badge-primary">NOTE:</span> Closing the till will print a report to: <span class="badge badge-info" th:text="${reportPrinterName}"></span></div>
                    <br>
                </div>
                <input th:if="${tillSession != null}" class="btn btn-danger" name="action" type="submit" value="Close Till">
            </div>
        </form>
    </div>

    <div class="row" th:if="${tillSession == null}">
        No open till session found. Taking an at-con order will automatically open a till session.
    </div>
</div>

</body>
</html>