body {
    margin-top: 4em;
    margin-bottom: 3em;
}

/* Keep items in the menu bar from wrapping */
.nav-item {
    white-space: nowrap;
}

.logout-username {
    font-style: italic;
}

.page-footer {
    background-color: #EEE;
    border-top: 1px solid #666666;
    padding: 0;
}

.am-header {
    background-color: #444400 !important;
}

.pm-header {
    background-color: #000044 !important;
}


table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}


.table-fix-head {
    display: block;;
    overflow-y: auto;
    height: 75vh !important;
}

.table-fix-head thead th {
    position: sticky;
    top: 0;
    background-color: #EEEEEE;
    height: 1.1em;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }