body {
    margin-top: 4em;
    margin-bottom: 3em;
}

/* Keep items in the menu bar from wrapping */
.nav-item {
    white-space: nowrap;
}

.logout-username {
    font-style: italic;
}

.page-footer {
    background-color: #EEE;
    border-top: 1px solid #666666;
    padding: 0;
}