<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <script src="/webjars/jQuery-Autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
    <script src="/js/attendeeSuggest.js"></script>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row" th:if="${#authorization.expression('hasAuthority(''attendee_search'')')}">
        <div class="col-sm-8 mb-2">
            <form class="form-inline justify-content-center" action="/search" method="get" id="searchForm">
                <input class="form-control mr-2" type="text" id="search" name="q" placeholder="Attendee Name" autofocus>
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 mr-4" th:if="${#authorization.expression('hasAuthority(''at_con_registration'')')}">
            <form method="post" action="/reg/atconorder/new">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input class="btn btn-primary btn-sm" type="submit" value="New At Con Order">
            </form>
        </div>

        <div class="col-sm-7">
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                    <th class="text-nowrap">Badge Type</th>
                    <th class="text-nowrap">Adult Cost</th>
                    <th class="text-nowrap">Youth Cost</th>
                    <th class="text-nowrap">Child Cost</th>
                    <th class="text-nowrap">5 and Under</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${badges.empty}">
                    <td colspan="4"> No Badges Found </td>
                </tr>
                <tr th:each="badge : ${badges}">
                    <td th:text="${badge.name}">Name</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(40), 1, 'COMMA', 2, 'POINT')}|">$33.00</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(16), 1, 'COMMA', 2, 'POINT')}|">$33.00</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(8), 1, 'COMMA', 2, 'POINT')}|">$33.00</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(4), 1, 'COMMA', 2, 'POINT')}|">$0.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>