<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <script src="/webjars/jQuery-Autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
    <script src="/js/attendeeSuggest.js"></script>
    <script src="/js/staff/staffSuggest.js"></script>
    <script src="/js/inlineregcode.js"></script>
</head>
<body>

<div layout:fragment="content" class="container-fluid">

    <div class="card-deck mb-2 justify-content-center">
        <div class="card bg-light m-1" style="width: 22rem; min-width: 22rem; max-width: 22rem;"
             th:if="${#authorization.expression('hasAuthority(''attendee_search'')')}">
            <div class="card-body">
                <h5 class="card-title">Guest Check In</h5>
                <p class="card-text">Guests of Honor</p>
                <form class="form-inline justify-content-center" action="/search" method="get" id="attendeeSearchForm"
                      style="position: relative; z-index:1000;">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1" type="text" id="attendeeSearch" name="q" placeholder="Attendee Name" autofocus autocomplete="off">
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card bg-light m-1" style="width: 22rem; min-width: 22rem; max-width: 22rem;"
             th:if="${#authorization.expression('hasAuthority(''staff_check_in'')')}">
            <div class="card-body">
                <h5 class="card-title">Staff Check In</h5>
                <p class="card-text">Kumoricon Staff</p>
                <form class="form-inline justify-content-center" action="/staff" method="get" id="staffSearchForm"
                      style="position: relative; z-index:1000;">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1" type="text"  id="staffSearch" name="q" autocomplete="off"
                               placeholder="Staff Name">
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card bg-light m-1" style="width: 22rem; min-width: 22rem; max-width: 22rem;"
             th:if="${#authorization.expression('hasAuthority(''voucher_check_in'')')}">
            <div class="card-body">
                <h5 class="card-title">Voucher Check In</h5>
                <p class="card-text">Food voucher check in for staff members</p>
                <form class="form-inline justify-content-center" action="/voucher/search" method="get" id="voucherStaffSearchForm"
                      style="position: relative; z-index:1000;">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1" type="text"  id="voucherStaffSearch" name="q" autocomplete="off"
                               placeholder="Staff Name">
                        <div class="input-group-append">
                            <input class="btn btn-primary" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div th:if="!${badges.empty}" class="container-fluid">
        <div class="row justify-content-center">
            <table class="table table-bordered table-striped table-sm" style="max-width: 50rem; min-width: 25rem;">
                <thead class="thead-dark">
                <tr>
                    <th class="text-nowrap">Badge Type</th>
                    <th class="text-center">Adult</th>
                    <th class="text-center">Youth</th>
                    <th class="text-center">Child</th>
                    <th class="text-center">5 and Under</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="badge : ${badges}">
                    <td th:text="${badge.name}">Name</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(40), 1, 'COMMA', 2, 'POINT')}|">$33.00</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(16), 1, 'COMMA', 2, 'POINT')}|">$33.00</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(8), 1, 'COMMA', 2, 'POINT')}|">$33.00</td>
                    <td class="text-right" th:text="|$${#numbers.formatDecimal(badge.getCostForAge(4), 1, 'COMMA', 2, 'POINT')}|">$0.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>