<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                    <th class="text-nowrap">Badge Type</th>
                    <th class="text-nowrap">Adult Cost</th>
                    <th class="text-nowrap">Youth Cost</th>
                    <th class="text-nowrap">Child Cost</th>
                    <th class="text-nowrap">5 and Under</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${badges.empty}">
                    <td colspan="4"> No Badges Found </td>
                </tr>
                <tr th:each="badge : ${badges}">
                    <td th:text="${badge.name}">Username</td>
                    <td class="text-right" th:text="'$' + ${#numbers.formatDecimal(badge.getCostForAge(40), 1, 'COMMA', 2, 'POINT')}">$33.00</td>
                    <td class="text-right" th:text="'$' + ${#numbers.formatDecimal(badge.getCostForAge(16), 1, 'COMMA', 2, 'POINT')}">$33.00</td>
                    <td class="text-right" th:text="'$' + ${#numbers.formatDecimal(badge.getCostForAge(8), 1, 'COMMA', 2, 'POINT')}">$33.00</td>
                    <td class="text-right" th:text="'$' + ${#numbers.formatDecimal(badge.getCostForAge(4), 1, 'COMMA', 2, 'POINT')}">$0.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>